/*   _ _ _ _____ __ __ _____ _____ _____ 
    | | | |  _  |  |  | __  |  _  | __  |
    | | | |     |_   _| __ -|     |    -|
    |_____|__|__| |_| |_____|__|__|__|__|  STYLE
  
    by Bina 
*/

/* pywal colors */
@import "../../.cache/wal/colors-waybar.css";
@define-color text #ffffff;
@define-color tt alpha(@background,0.5);
@define-color ws @color1;
@define-color tb alpha(@color8,0.3);
@define-color tbh alpha(@color8,1);
@define-color clock @color3;
@define-color set @color1;

/* general */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: @text;
  border: none;
  border-radius: 5px;
}

window#waybar {
  background-color: alpha(@background, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* workspaces */
#workspaces {
  margin: 4px 1px 4px 1px;
  padding: 0px 0px;
  border-radius: 5px;
  border: 0px;
  opacity: 0.9;
}

#workspaces button {
  margin: 0px 2px;
  padding: 0px 5px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: @ws;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#workspaces button:hover {
  background: @ws;
  opacity: 0.9;
  border: none;
  box-shadow: none;
}

/* taskbar */
#taskbar {
  background: @tb;
  margin: 4px 15px 4px 1px;
  padding: 0px;
}

#taskbar button {
  margin: 0px 1px;
  border-radius: 5px;
  padding: 0px 5px;
}

#taskbar button:hover {
  background: @tbh;
  opacity: 1;
  border: none;
  box-shadow: none;
}

/* tooltip */
tooltip {
  border-radius: 5px;
  background-color: @tt;
  opacity: 0.9;
}

tooltip label {
  border-radius: 5px;
  background-color: @tt;
  opacity: 1;
  padding: 0px;
  margin: -5px 0px;
  font-size: 12px;
}

/* modules */
.modules-left > widget:first-child > #workspaces {
  margin-left: 10;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* clock */
#clock {
  background-color: @clock;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px;
  opacity: 1;
  border: none;
}

/* hardware group */
#cpu,
#temperature,
#disk,
#memory {
  margin: 0px;
  padding: 0px;
}

/* audio */
#pulseaudio {
  background-color: @set;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px 4px -15px;
  opacity: 1;
}

/* network */
#network {
  background-color: @set;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px;
  opacity: 1;
}

#network.ethernet {
  background-color: @set;
}

#network.wifi {
  background-color: @set;
}

/* bluetooth */
#bluetooth,
#bluetooth.on,
#bluetooth.connected,
#bluetooth.off {
  background-color: @set;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px;
  opacity: 1;
}

/* battery */
#battery {
  background-color: @set;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px;
  opacity: 1;
}

#battery.charging,
#battery.plugged {
  background-color: @set;
}

@keyframes blink {
  to {
    background-color: @set;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* tray */
#tray {
  padding: 0px 15px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* custom modules */
#custom-exit {
  margin: 0px 18px 0px 5px;
  padding: 0px;
  font-size: 20px;
}

#custom-system {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

#custom-settings {
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

#custom-updates {
  background-color: @set;
  border-radius: 5px;
  padding: 2px 10px 0px 10px;
  margin: 8px 15px 8px 0px;
  opacity: 1;
}

#custom-updates.green {
  background-color: @set;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
}

#custom-updates.red {
  background-color: #dc2f2f;
}

/* backlight */
#backlight {
  background-color: @set;
  border-radius: 5px;
  padding: 1px 10px 0px 10px;
  margin: 4px 1px;
  opacity: 1;
}
