[Unit]
Description=Create a Dotfiles backup on cloud storage

[Service]
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/bin/bash -c 'exec $HOME/.local/bin/backup_daily_dotfiles.sh'
Type=oneshot

[Install]
WantedBy=default.target
